<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
  } %>
  
  <%- messages() %>
  
  <h3>You're logged in!</h3>
  
  <div class="account-management">
  
    <!-- Display a "Welcome <account_name>" -->
    <h2 class="account-welcome">Welcome <%= locals.accountData.account_firstname %></h2>
  
    <br>
  
    <!-- Edit Account Information -->
    <a title="Edit Account Information" href="/account/editAccount">Edit Account Information</a>

    <!-- Edit Vehicle Information -->
    <a title="Edit Vehicle Information" href="/inv">Edit Vehicle Information</a>

      
  </div>