# Each item listed in this file will be ignored by git and will not be uploaded to github. 

# node_modules
node_modules

# .env file is for local use only. It contains values not to be shared and most of the values will be manually created by you or dynamically created on the hosting server
.env

# .DS_Store is only for Mac users
**/.DS_Store

**/README.md
