<!-- **************
*   Management View
*************** -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

  <%- messages() %>
  
  <div class="management">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Vehicle</a>
  
  <h2>Mange Inventory</h2>
  <p>Choose a classification to view inventory</p>
    <table class="manage-inventory" id="inventoryDisplay"></table>
    <span class="select-list"> <%- selectList %> </span>

    
    <noscript>JavaScript must be enabled to use this page.</noscript>

    <script src="../../js/inventory.js"></script>
  </div>